<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <script src="js/form.js" ></script>

    <title>Grilld</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/jumbotron-narrow.css" rel="stylesheet">
    <style type="text/css">
      #title_text {
        color:#eea236;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/findmyfood">Find My Food</a></li>
          <li><a href="/history">History</a></li>
        </ul>
        <a href="/"><h3 id="title_text">Grilld</h3></a>
      </div>

      <div class="jumbotron">
        
		<h1>Find My Food!</h1>

		<form name="findfood" action="#" onsubmit="checkit(); return false">
			<table class="form">
				<tr>
					<td>Food Selection (ex. Pizza)</td>
					<td><input name="food selection" /></td>
				</tr>

				<tr>
					<td>Maximum Price (in $)</td>
					<td><input name="max price" /></td>
				</tr>
				
				<br>
<!-- Commenting this out because we should Geolocate user's location -->
<!--
				<tr>
					<td>Street Address</td>
					<td><input name="address" /></td>
				</tr>

				<tr>
					<td>City</td>
					<td><input name="city" /></td>
				</tr>

				<tr>
					<td>State</td>
					<td><select name="refer">
					<option value='' selected="selected">--- Select ---</option>
					<option value="CA">CA</option>
					<option value="NY">NY</option>
					<option value="MA">MA</option>
					<option value="FL">FL</option>
					</select>
					</td>
				</tr>
-->
				<tr>	
					<td colspan="2">
						<br>
						<a class="btn btn-lg btn-warning" href="/results" role="button" type="submit">Get Grilld!</a>
						<br>
						<br>
<!-- FOR DEBUGGING ONLY	<input type="reset" /> -->
					</td>
				</tr>
			<!-- FOR DEBUGGING ONLY
				<tr>
					<td colspan="2">
						<textarea cols="30" rows="7" name="output">
							When you hit 'Submit' the user input will be written to this textare
						</textarea>
					</td>
				</tr>
			-->
			</table>
		</form>
      </div>

      <div class="footer">
        <p>Tufts Comp 20 Final Project Spring 2014: Krishna, Manvi, Sharada, and Shriya</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
