<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <script src="../assets/js/form.js" ></script>

    <title>Grilld</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/jumbotron-narrow.css" rel="stylesheet">
    <style type="text/css">
      #title_text {
        color:#eea236;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/findmyfood">Find My Food</a></li>
          <li><a href="/history">History</a></li>
        </ul>
        <a href="/"><h3 id="title_text">Grilld</h3></a>
      </div>

      <div class="jumbotron">
        
		<h1>Find My Food!</h1>

		<form name="findfood" href="/formdata" method="POST">
			<table class="form">
				<tr>
					<td>Food Selection (ex. Pizza)</td>
					<td><input name="food_selection" /></td>
				</tr>

				<tr>
					<td>Maximum Price (in $)</td>
					<td><input name="max_price" /></td>
				</tr>
				
				<!-- add hidden input fields for geolocation -->

				<tr>	
					<td colspan="2">
						<br>
						<input class="btn btn-lg btn-warning" href="/results" role="button" type="submit" value="Get Grilld!" onclick="saveText()"></input>
						<br>
						<br>
					</td>
				</tr>
			</table>
		</form>
      </div>

      <div class="footer">
        <p>Tufts Comp 20 Final Project Spring 2014: Krishna, Manvi, Sharada, and Shriya</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
