<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Grilld</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/jumbotron-narrow.css" rel="stylesheet">
    <style type="text/css">
      #title_text {
        color:#eea236;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/findmyfood">Find My Food</a></li>
          <li><a href="/history">History</a></li>
        </ul>
        <a href="/"><h3 id="title_text">Grilld</h3></a>
      </div>

      <div class="jumbotron">
        <h1>Welcome to Grilld</h1>
        <p class="lead">Grilld helps you find great food nearby that fits your budget!</p>
        <p><a class="btn btn-lg btn-warning" href="/findmyfood" role="button">Find my food!</a></p>
      </div>

      <div class="footer">
        <p>Tufts Comp 20 Final Project Spring 2014: Krishna, Manvi, Sharada, and Shriya</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>