<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Grilld</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/jumbotron-narrow.css" rel="stylesheet">
    <style type="text/css">
      #title_text {
        color:#eea236;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/findmyfood">Find My Food</a></li>
          <!--<li><a href="/history">History</a></li>-->
        </ul>
        <a href="/"><h3 id="title_text">Grilld</h3></a>
      </div>

      <div class="jumbotron">
        <h1>Tasty Gourmet</h1>
        <p class="lead">321 Boston Ave, Medford</p>
        <p class="lead">Phone Number (781) 391-9969</p>
        <a href="http://tastygourmetmedford.net/"><p class="lead">http://tastygourmetmedford.net/</p></a>
        <p>Menu items that fit "Sandwiches" and "$15" or less:</p>
        <br>
        <div id="results_list">
          <ul class="list-group">
            <li class="list-group-item">
              <h4>THE NEW YORK COMBO</h4>
              <p>Hot corned beef and pastrami sliced to order and topped with fresh coleslaw, melted Swiss cheese . &amp; our special Thousand Island dressing on rye bread</p>
              <p>$8.50</p>
            </li>
            <li class="list-group-item">
              <h4>SPICY TURKEY SANDWICH </h4>
              <p>moked cracked peppercorn turkey, Monterey Jack and jalapeno cheeses, onions, bacon &amp; Caesar dressing on our grilled tomato basil bread.; </p>
              <p>$8.50</p>
            </li>
            <li class="list-group-item">
              <h4>ITALIAN COMBO SANDWICH</h4>
              <p>Prosciutto, salami, capicola, pepperoni, provolone cheese, onions, pickles, olive oil and oregano on ciabatta bread.</p>
              <p>$7.50</p>
            </li>
            <li class="list-group-item">
              <h4>STEAK HOUSE ROAST BEEF SANDWICH</h4>
              <p>Oven-roasted beef, smoked cheddar, lettuce, tomatoes, red onions and our creamy horseradish sauce on focaccia bread.</p>
              <p>$7.50</p>
            </li>
            
            </li>
          </ul>
        </div>
      </div>

      <div class="footer">
        <p>Tufts Comp 20 Final Project Spring 2014: Krishna, Manvi, Sharada, and Shriya</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>